body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bug {
  background: #aedf78;
}
.water {
  background: #43ccff;
}
.grass {
  background: #80ca91;
}
.fire {
  background: #e95c4d;
}
.normal {
  background: #a5a5a5;
}
.poison {
  background: #bf00eeef;
}
.electric {
  background: #f5ee20;
}
.ground {
  background: #8d5c26;
}
.fairy {
  background: #e995b0;
}
