label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.container_form_views {
  display: flex;
  flex-direction: row;
  width: 100%;
}

form {
  box-shadow: 0 30px 50px rgb(17 29 48 / 26%);
  border-radius: 15px;
  margin-left: 10%;
  margin-top: 2%;
  width: 30%;
}

.form_group {
  position: relative;
}

.form_control {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  outline: 2px solid #424149;
  cursor: pointer;
  margin-top: 2rem;
}

.name_label {
  position: absolute;
  top: 1.8rem;
  font-weight: bolder;
  left: 4.5rem;
  color: #767676;
  transform: translate(10px, 10px);
  transition: transform 0.25s;
}
.label {
  top: 1.8rem;
  font-weight: bolder;
  left: 4.5rem;
  color: #767676;
  margin-left: 5rem;
  margin-top: 1rem;
}
.form_control:focus + .name_label,
.form_control:valid + .name_label {
  transform: translate(10px, -14px) scale(0.9);
  color: #d1c5fc;
  padding-inline: 5px;
  background-color: rgb(13, 46, 137);
}
.form_control:is(:focus, :valid) {
  outline-color: rgb(85, 5, 79);
}

select {
  display: flex;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  margin-left: 4rem;
  width: 90%;
  font-size: 15px;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}
:root {
  --select-border: #82828358;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
.select {
  width: 70%;
  height: 100%;
  padding: 0.25em 0.5em;
  font-size: 1.05rem;
  cursor: pointer;
}
.standard_select {
  height: 130px;
}

.error {
  color: red;
  display: flex;
  margin-top: 1px;
  margin-bottom: 0;
  padding: 0;
  margin-left: 5rem;
  font-size: 12px;
  font-weight: bolder;
}

.btn {
  position: relative;
  width: 18vmin;
  height: 6vmin;
  background: rgb(205, 49, 49);
  color: #f3efcc;
  font-size: 18px;
  letter-spacing: 0.3vmin;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  outline: transparent;
  cursor: pointer;
  transition: background 0.5s;
}

.btn:hover {
  background: rgb(3, 1, 1);
}

@media screen and (max-width: 600px) {
  .container_form_views {
    width: 45rem;
    margin: 0;
  }

  .formulario {
    width: 100%;
  }
}
