.views {
  width: 50%;
}
.detail_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 8%;
  margin-left: 10%;
  height: 90%;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 30px 50px rgb(17 29 48 / 26%);
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navContainer {
  width: 100%;
}

.id_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  height: 2rem;
}

.pokeImg {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 250px;
  display: flex;
  margin-top: 20px;
  border-radius: 1rem;
  border: 1.5px inset white;
  box-shadow: inset 20px 20px 60px #f2f2f2, inset -20px -20px 60px #ffffff;
  transition: all 0.5s ease-in-out;
}

.egg {
  margin-top: 2.8rem;
}
.image {
  border-radius: 1rem;
  width: 210px;
  height: 250px;
}

.pokeName {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 100%;
  align-items: center;
  margin-top: 0.5rem;
}

#name,
#namepokemon {
  margin-left: 1rem;
}

.ContainerTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.2rem;
  width: 100%;
  height: 15%;
}
.type {
  display: flex;
}
.positiontype {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-items: center;
  margin-left: 1rem;
}
.titletype {
  margin-top: 0.5rem;
  font-size: large;
  font-weight: bold;
}
.divtype {
  margin-left: 1rem;
  padding: 0 1rem;
  height: 2rem;
  border-radius: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  color: white;
}
.btntype {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  font-weight: bold;
  border: 1.5px inset white;
  box-shadow: inset 20px 20px 60px #f2f2f2, inset -20px -20px 60px #ffffff;
  transition: all 0.5s ease-in-out;
}
.btntype:hover {
  border: 1.5px inset #a6131e;
  box-shadow: inset 20px 20px 60px #a6131e, inset -20px -20px 60px #a6131e;
  transition: all 0.5s ease-in-out;
  color: #a6131e;
}
#pokeTypes {
  display: flex;
  align-content: center;
  margin: 0.5rem;
  border-radius: 1rem;
  height: 1.6rem;
  width: 6rem;
  justify-content: center;
}

#text {
  font-size: medium;
  font-weight: bold;
  margin: 0;
}

.power {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: large;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.cont_name {
  margin-right: 1rem;
}
