.searchPokemon {
  width: 600px;
  text-align: center;
  margin: 15px auto;
}

.searchPokemon input {
  background: transparent;
  border: none;
  padding: 10px;
  border-bottom: solid 1.8px #e81319;
  font-size: 14px;
  color: #e81319;
  width: 35%;
  transition: all 1s ease;
  right: 0;
  font-weight: bold;
}

.searchPokemon input::placeholder {
  color: #e81319;
  font-weight: bold;
}

.searchPokemon input:focus {
  outline: none;
  border-color: #e81319;
}

button.button-search {
  background: #fff;
  border: transparent;
  cursor: pointer;
  width: 100px;
  padding: 4px;
  color: #e81319;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s;
}

button.button-search img {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
}

button.button-search:focus {
  outline: none;
}

.button-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.button-search:active {
  transform: scale(1.1);
}
