.containerPokemon {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.contentText {
  width: 80%;
  margin-left: 3rem;
  align-items: center;
}
.pokeImage {
  margin-top: 3rem;
  margin-left: 8rem;
}

.tecnologias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.imgJS {
  width: 100px;
}

.imgCSS {
  width: 70px;
}

.imgHTML {
  width: 60px;
}

.imgREACT {
  width: 70px;
}

.imgREDUX {
  width: 70px;
}

.imgEXPRESS {
  width: 75px;
}

.imgPOSTGRESQL {
  width: 80px;
}

.linkedIn {
  width: 20px;
}
.github {
  width: 20px;
}

.foo_item {
  cursor: pointer;
  margin-left: 30px;
}
.foo_name {
  margin-left: 20px;
  margin-right: 40px;
}

/* --------------- */

.info {
  position: relative;
  cursor: pointer;
  font-size: 50px;
  /* color: #ff9575; */
}

.tooltip-text {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background-color: #423d4c;
  color: #fff;
  border-radius: 10px;
  line-height: 1.7;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 10px);
  width: 10ch;
  z-index: -1;
  opacity: 0;
  transition: all 0.6s;
}

.tooltip-text::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #423d4c;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 42%) rotate(45deg);
  border-radius: 2px;
}
.info:hover .tooltip-text {
  transform: translate(-50%, 0);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .containerPokemon {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .pokeImage {
    margin-top: 1rem;
    margin-left: 2.5rem;
  }
  .pikachu_about {
    width: 100%;
  }

  .tecnologias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
  }
  .PokeText {
    text-align: center;
  }
  .Tecnoimg {
    margin-bottom: 1.5rem;
  }
  .tooltip-text {
    line-height: 1.7;
    top: -35%;
  }
}
