.containerpikachu {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.loading {
  background-color: #fff;
  width: 100%;
  /* display: fixed; */
}

.loading img {
  display: block;
  min-height: 50px;
  min-width: 100px;
}

@keyframes mouseAnimation {
  from {
    width: 25px;
    height: 25px;
  }

  to {
    width: 15px;
    height: 15px;
  }
}
